.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 0px;
  width: 80%;
  display: block;
  margin: 0 auto;
  
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
  color: white;
}

.CV {
  padding: 30px 30px;
  border-color: red;
  border-style: solid;
}