.nav-top {
  background: linear-gradient(to right, #9370db 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  background-position: right bottom;
  transition: all 0.5s ease;
}

.nav-scrolled-text {
    color: #000000 !important;
    transition: all 0.5s ease;
}

.nav-text{
    color: #ffffff !important;
    transition: all 0.5s ease;
}
.nav-scroll {
  background: linear-gradient(to right, #9370db 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.5s ease;
}

.nav-brand:hover{
  text-decoration: none;
}